<?php

define('DB_HOST', '');
define('DB_NAME', '');

define('DB_UPDATE_USER', '');
define('DB_UPDATE_PASS', '');

define('DB_READ_USER', '');
define('DB_READ_PASS', '');

define('MAX_PER_RUN', 500);
define('MAX_MAP_COUNT', 50);

define('TIMEZONE_API_KEY', '');

define('SEND_FROM_NAME', '');
define('SEND_FROM_EMAIL', '');

?>