@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Rubik');

body {
	background-color: #202020;
	background-image: url("../images/bgblack.gif");
	background-repeat: repeat;
	font-family: 'Raleway', sans-serif !important;
}

h4 {
	font-family: 'Rubik', sans-serif !important;
	margin-bottom: 0px !important;
}

h6 {
	font-family: 'Montserrat', sans-serif !important;
	margin-top: 8px !important;
}

.map {
	height: 200px;
}

span.select2 {
	width: 100% !important;
}

.select2-container {
	border-color: #ced4da !important;
}